 /* width */
 ::-webkit-scrollbar {
     width: 8px;
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
     background: rgb(178, 178, 178);
 }

 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
     background: rgb(119, 119, 119);
 }

 header {
     background-image: url("/images/mount-everest.jpg");
     background-size: auto;
     background-position: 0vmax;
 }