* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

body {
    width: 75%;
    margin: 30px auto;
}

hr {
    background: chocolate;
    border: 0;
    height: 1px;
}

h1 {
    font-size: 3rem;
}

a {
    margin: auto 2px;
    text-decoration: none;
}

ul {
    margin-top: 6px;
    margin-left: 30px;
}

li {
    margin: 2px auto;
}

h2 {
    margin-top: 10px;
    font-weight: normal;
}

.name {
    color: #0C2D48;
    margin-left: 10px;
    margin-bottom: 8px;
}

.landscape {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: inset 0px 0px 10px black;
    border: 8px solid #0C2D48;
}

.landscape img {
    width: 150px;
    margin-top: -18px;
}

.container {
    margin: 5px 10px;
}

.item {
    display: flex;
    justify-content: space-between;
}

.item p {
    margin-top: 2px;
}